@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('./i.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    box-sizing: border-box;
    min-height: 100vh; /* Обеспечивает корректное отображение фона */
}

.choise {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.btns {
    display: flex;
    flex-direction: column; /* Кнопки будут располагаться друг под другом */
    align-items: center;
    gap: 10px; /* Расстояние между кнопками */
    width: 100%;
    max-width: 400px;
}



.btn__yes, .btn__no {
    text-decoration: none;
    padding: 12px 20px;
    border: 1px solid #ad4040;
    border-radius: 15px;
    color: #ad4040;
    background-color: azure;
    text-align: center;
    width: 100%;
    max-width: 150px;
    box-sizing: border-box;
    transition: all 0.1s linear;
}



.btn__yes {
    position: relative;
}

.btn__no {
    position: absolute;
    top: 695px; /* Измените значение по необходимости */
}



.title {
    font-size: 5vw;
    text-align: center;
    color: rgb(0, 0, 3);
    margin-bottom: 20px;
}

.another_title {
    font-size: 4vw;
    text-align: center;
    color: rgb(22, 6, 19);
    margin-bottom: 15px;
}

.image_class {
    width: 80%;
    max-width: 500px;
    height: auto;
    margin-bottom: 20px;
}

/* Медиа-запросы для адаптации */

@media (max-width: 767px) {
    .btns {
        gap: 10px; /* Расстояние между кнопками */
    }

    .btn__yes, .btn__no {
        max-width: 60%;
        padding: 10px;
    }

    .main {
        padding: 10px;
    }

    .title {
        font-size: 6vw;
    }

    .another_title {
        font-size: 5vw;
    }

    .image_class {
        width: 90%;
        max-width: none;
    }
}

@media (max-width: 479px) {
    .btn__yes, .btn__no {
        max-width: 50%;
        padding: 8px;
    }

    .title {
        font-size: 7vw;
    }

    .another_title {
        font-size: 6vw;
    }

    .image_class {
        width: 100%;
    }
}
