@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    flex-direction: column;
    overflow: hidden; /* Отключаем скроллинг */
}

.main {
    width: 100%;
    height: 100%; /* Занимаем всю доступную высоту */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('./i.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    box-sizing: border-box;
}

.title {
    font-size: 5vw;
    text-align: center;
    color: rgb(0, 0, 3);
    margin-bottom: 20px;
}

.another_title {
    font-size: 4vw;
    text-align: center;
    color: rgb(22, 6, 19);
    margin-bottom: 20px;
}

.image_class {
    width: 80%;
    max-width: 500px;
    height: auto;
    margin-bottom: 20px;
}

.choise {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.btns {
    display: flex;
    flex-direction: row; /* Кнопки располагаются в один ряд */
    justify-content: space-between; /* Пространство между кнопками */
    gap: 20px; /* Расстояние между кнопками */
    width: 100%;
    max-width: 400px;
}

.btn__yes, .btn__no {
    text-decoration: none;
    padding: 12px 20px;
    border: 1px solid #ad4040;
    border-radius: 15px;
    color: #ad4040;
    background-color: azure;
    text-align: center;
    width: 100%;
    max-width: 150px;
    box-sizing: border-box;
}

/* Медиа-запрос для телефонов */
@media (max-width: 600px) {
    .btns {
        flex-direction: column; /* Вертикальное расположение кнопок */
        gap: 10px;
    }

    .btn__yes, .btn__no {
        max-width: 100%; /* Кнопки занимают всю доступную ширину */
        padding: 10px;
    }

    .main {
        padding: 20px;
    }

    .title {
        font-size: 6vw;
    }

    .another_title {
        font-size: 5vw;
    }

    .image_class {
        width: 90%;
        max-width: none;
    }
}
